@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(
      338deg,
      rgba(241, 241, 242, 1) 0%,
      rgba(32, 118, 189, 1) 50%,
      rgba(24, 45, 88, 1) 100%
    );
  }

  .bg-linear-gradient {
    background: linear-gradient(
      180deg,
      /* Top to bottom */ #ffffff 2%,
      /* White */ #edf6fd 60%,
      /* Light blue */ #91c9f6 98% /* Deeper blue */
    );
  }

  /* Spinner animation */
  .loader {
    border-top-color: #2563eb; /* Tailwind blue-600 */
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(2px);
  }
}
.animate-shake {
  animation: shake 0.3s ease-in-out 2;
}
